body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  height: 95vh;
  width: 100vw;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

@media (min-aspect-ratio: 1/1) {
  :root {
    font-size: 4vh;
  }

  body {
    flex-direction: row;
  }
}

@media (max-aspect-ratio: 1/1) {
  :root {
    font-size: 3vh;
  }

  body {
    flex-direction: column;
  }
}

button {
  color: hsl(0, 0%, 100%);
  font-size: inherit;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0ex;
  margin: 0.3ex;
  border-style: solid;
  border-width: 0.5ex;
  border-radius: 2.0ex;
  touch-action: manipulation;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.display {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.digit {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 500%;
  font-variant-numeric: tabular-nums;
}

.digit.selected {
  color: hsl(35, 80%, 60%);
}

.digit.unselected {
  color: hsl(0, 0%, 100%);
}

.bar.selected {
  display: flex;
}

.bar.unselected {
  display: none;
}

button:active {
  border-color: hsl(35, 80%, 80%) !important;
}

.num {
  background-color: hsl(35, 0%, 20%);
  border-color: hsl(35, 0%, 20%);
}

.fun {
  background-color: hsl(35, 80%, 60%);
  border-color: hsl(35, 80%, 60%);
}

.sig {
  background-color: hsl(35, 80%, 60%);
  border-color: hsl(35, 80%, 60%);
}

.play.locked {
  background-color: hsl(112, 80%, 30%);
  border-color: hsl(112, 80%, 30%);
}

.tick.off {
  background-color: hsl(35, 0%, 20%);
  border-color: hsl(35, 0%, 20%);
}

.tick.low {
  background-color: hsl(35, 80%, 30%);
  border-color: hsl(35, 80%, 30%);
}

.tick.high {
  background-color: hsl(35, 80%, 60%);
  border-color: hsl(35, 80%, 60%);
}

.tick.current.off {
  border-color: hsl(35, 0%, 40%);
}

.tick.current.low {
  border-color: hsl(35, 80%, 60%);
}

.tick.current.high {
  border-color: hsl(35, 80%, 80%);
}

.tick.left {
  border-radius: 2ex 0ex 0ex 2ex;
}

.tick.center {
  border-radius: 0ex;
}

.tick.right {
  border-radius: 0ex 2ex 2ex 0ex;
}

.frac {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.top {
  display: block;
}

.bot {
  display: block;
  border-top: 2px solid white;
}