body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  height: 95vh;
  width: 100vw;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

@media (min-aspect-ratio: 1/1) {
  :root {
    font-size: 4vh;
  }

  body {
    flex-direction: row;
  }
}

@media (max-aspect-ratio: 1/1) {
  :root {
    font-size: 3vh;
  }

  body {
    flex-direction: column;
  }
}

button {
  color: hsl(0, 0%, 100%);
  font-size: inherit;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0ex;
  border: 0.3ex;
  border-radius: 2.0ex;
  border-color: hsl(0, 0%, 0%);
  border-style: solid;
  touch-action: manipulation;
}

button:active {
  background-color: hsl(34, 87%, 69%) !important;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.display {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.digit {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 500%;
  font-variant-numeric: tabular-nums;
}

.digit.selected {
  color: hsl(32, 87%, 59%);
}

.digit.unselected {
  color: hsl(0, 0%, 100%);
}

.grid.idle.unselected {
  background-color: hsl(34, 2%, 39%);
}

.grid.idle.selected {
  background-color: hsl(34, 87%, 39%);
}

.grid.current.unselected {
  background-color: hsl(34, 2%, 59%);
}

.grid.current.selected {
  background-color: hsl(34, 87%, 59%);
}

.bar.selected {
  display: flex;
}

.bar.unselected {
  display: none;
}

.num {
  background-color: hsl(34, 2%, 17%);
}

.fun {
  background-color: hsl(34, 87%, 59%);
}

.sig {
  background-color: hsl(34, 87%, 59%);
}

.play.locked {
  background-color: hsl(112, 87%, 29%);
}

.full {
  font-size: 200%;
}

.frac {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.top {
  display: block;
}

.bot {
  display: block;
  border-top: 2px solid white;
}

.grid.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.grid.center {
  border-radius: 0;
}

.grid.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
